*{
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background: linear-gradient(to right,#2b5876 ,#4e4376);
    font-family: 'Roboto', sans-serif;
}
form{
    background-color: white;
    width: 350px;
    height: 400px;
    display: grid;
    place-items: center;
    position: relative;
    margin: 150px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px  2px 9px rgb(189, 188, 188);
}
label{
    display: flex;
    flex-direction: column;
}
span{
    font-size: small;
}
input{
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border: solid 1px rgb(198, 196, 196);
}